* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --very-dark-blue: hsl(216, 12%, 8%);
    --dark-blue: hsl(213, 19%, 18%);
    --medium-gray: hsl(216, 12%, 54%);
    --light-gray: hsl(217, 12%, 63%);
    --white: hsl(0, 0%, 100%);
    --primary-color: hsl(25, 97%, 53%);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    background-color: var(--very-dark-blue);
    color: var(--white);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25vw;
    background-color: var(--dark-blue);
    border-radius: 1rem;
}

.thank-you-image {
    margin: 1rem 0.8rem;
}

.selected-option {
    display: block;
    margin: 0.5rem 0.3rem;
    padding: 0.3rem;
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    color: var(--primary-color);
}

.thank-you-title {
    margin: 0.3rem 0;
}

.paragraph {
    color: var(--light-gray);
    margin: 0.3rem;
    padding: 0.4rem 0.1rem;
}

@media (max-width: 1400px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 35vw;
        background-color: var(--dark-blue);
        border-radius: 1rem;
    }
    
    .thank-you-image {
        margin: 1rem 0.8rem;
    }
    
    .selected-option {
        display: block;
        margin: 0.5rem 0.3rem;
        padding: 0.3rem;
        border: 2px solid var(--primary-color);
        border-radius: 1rem;
        color: var(--primary-color);
    }
    
    .thank-you-title {
        margin: 0.3rem 0;
    }
    
    .paragraph {
        color: var(--light-gray);
        margin: 0.3rem;
        padding: 0.4rem 0.1rem;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 45vw;
        background-color: var(--dark-blue);
        border-radius: 1rem;
    }
    
    .thank-you-image {
        margin: 1rem 0.8rem;
    }
    
    .selected-option {
        display: block;
        margin: 0.5rem 0.3rem;
        padding: 0.1rem;
        color: var(--primary-color);
    }
    
    .thank-you-title {
        margin: 0.3rem 0;
    }
    
    .paragraph {
        color: var(--light-gray);
        margin: 0.3rem;
        padding: 0.4rem 0.1rem;
    }
}

@media (max-width: 900px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 65vw;
        background-color: var(--dark-blue);
        border-radius: 1rem;
    }
    
    .thank-you-image {
        margin: 1rem 0.8rem;
    }
    
    .selected-option {
        display: block;
        margin: 0.5rem 0.3rem;
        padding: 0.1rem;
        color: var(--primary-color);
    }
    
    .thank-you-title {
        margin: 0.3rem 0;
    }
    
    .paragraph {
        color: var(--light-gray);
        margin: 0.3rem;
        padding: 0.4rem 0.1rem;
    }
}

@media (max-width: 450px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 85vw;
        background-color: var(--dark-blue);
        border-radius: 1rem;
    }
    
    .thank-you-image {
        margin: 1rem 0.8rem;
    }
    
    .selected-option {
        display: block;
        margin: 0.5rem 0.3rem;
        padding: 0.1rem;
        color: var(--primary-color);
    }
    
    .thank-you-title {
        margin: 0.3rem 0;
    }
    
    .paragraph {
        color: var(--light-gray);
        margin: 0.3rem;
        padding: 0.4rem 0.1rem;
    }
}

